.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom stuff */

body {
  height: 100vh;
  /* background-color: #282c34; */
}

.custom-container {
  width: 100%;
  height: 100%;
  /* display: grid; */
  background-color: #797878;
}

.text-color {
  color: white;
}

.no-deco {
  text-decoration: none;
  font-weight: bold;
}

.nav-color {
  background-color: #5581a1;
}

.main-section {
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-area {
  background-color: #C4C4C4; /* Change to your preferred background color */
  color: #fff; /* Change text color if needed */
  flex: 1;
  padding: 10px;
  max-width: 300px;
  overflow-y: auto;
}

/* Main content styling */
.main-main {
  flex: 3;
  padding: 10px;
  max-width: calc(100% - 300px);
  overflow-y: auto;
}

.account-switch {
  display: flex;
  justify-content: flex-end;
}

.card-section {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  /* height: 200vh; */
}

.custom-card-design {
  width: 250px;
  height: 330px;
  overflow: hidden;
  margin: 10px;
  background-color: #EBEBEB;
}

.ts-section {
  margin: 10px;
}

.top-selling {
  background-color: #C4C4C4;
  max-width: 100%;
  height: 200px;
}